aside#left-panel.left-panel
	nav.navbar.navbar-expand-sm.navbar-default
		.navbar-header
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-menu', aria-controls='main-menu', aria-expanded='false', aria-label='Toggle navigation')
				i.fa.fa-bars
			a.navbar-brand(href='./') IrrigationSystem
			a.navbar-brand.hidden(href='./') IS
		#main-menu.main-menu.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href='/page1')
						i.menu-icon.fa.fa-dashboard
						| page1
				h3.menu-title Configurações
				// /.menu-title
				li.menu-item-has-children.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						i.menu-icon.fa.fa-laptop
						| Configurações
					ul.sub-menu.children.dropdown-menu
						li
							i.fa.fa-puzzle-piece
							a(href='/page2') page2