doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title IrrigationSystem
    meta(name='description', content='IrrigationSystem')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/assets/images/favicon.png')
    link(rel='stylesheet', href='/assets/css/normalize.css')
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/scss/style.css')
    link(rel='stylesheet', href='/css/range_style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800', rel='stylesheet', type='text/css')
  body.open
    // Left Panel
    aside#left-panel.left-panel
      nav.navbar.navbar-expand-sm.navbar-default
        .navbar-header
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-menu', aria-controls='main-menu', aria-expanded='false', aria-label='Toggle navigation')
            i.fa.fa-bars
          a.navbar-brand(href='./') sistema de Irrigação
          a.navbar-brand.hidden(href='./') SI
        #main-menu.main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/home')
                i.menu-icon.fa.fa-dashboard
                | Home
            h3.menu-title Configurações
            // /.menu-title
            li.menu-item-has-children.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.menu-icon.fa.fa-laptop
                | Configurações
              ul.sub-menu.children.dropdown-menu
                li
                  i.fa.fa-puzzle-piece
                  a(href='/configuracao') Configuração
        // /.navbar-collapse
    // /#left-panel
    // Right Panel
    #right-panel.right-panel
      // Header
      header#header.header
        .header-menu
          .col-sm-7
            a#menuToggle.menutoggle.pull-left
              i.fa.fa.fa-tasks
            .header-left
              h1
                | Irrigation System
                h1
      // /header
      // Header
      .content.mt-3
        // MEU CONTEUDO
        .slidecontainer.col-sm-12
          #page2_alert
        .slidecontainer.col-sm-12
          .alert.alert-success(role='alert')
            h3#output_MinpH
          input#Range_MinpH.slider(type='range', min='0', max='14', step='0.01', value=param[0].pH_min)          
        .slidecontainer.col-sm-12
          .alert.alert-success(role='alert')
            h3#output_MaxpH
          input#Range_MaxpH.slider(type='range', min='0', max='14', step='0.01', value=param[0].pH_max)          
        .slidecontainer.col-sm-12
          .alert.alert-success(role='alert')
            h3#output_PontoDeMurcha
          input#Range_PontoDeMurcha.slider(type='range', min='0', max='100', step='0.01', value=param[0].ponto_de_murcha)
        .slidecontainer.col-sm-12
          .alert.alert-success(role='alert')
            h3#output_CapacidadeDeCampo
          input#Range_CapacidadeDeCampo.slider(type='range', min='0', max='100', step='0.01', value=param[0].capacidade_de_campo)
        row
          .col-sm-12
            button.btn.btn-outline-success.btn-lg.btn-block(type='button', onclick='send()') Enviar
      // .content
    // /#right-panel
    // Right Panel
    script(src='/assets/js/vendor/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(src='/assets/js/plugins.js')
    script(src='/assets/js/main.js')
    script(type='text/javascript',src='/js/jquery.min.js')
    script(src='/js/range.js')
