doctype html
html.no-js(lang='')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title IrrigationSystem
		meta(name='description', content='IrrigationSystem')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', href='/assets/images/favicon.png')
		link(rel='stylesheet', href='/assets/css/normalize.css')
		link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
		link(rel='stylesheet', href='/assets/css/themify-icons.css')
		link(rel='stylesheet', href='/assets/css/flag-icon.min.css')
		link(rel='stylesheet', href='/assets/css/cs-skin-elastic.css')
		// <link rel="stylesheet" href="/assets/css/bootstrap-select.less">
		link(rel='stylesheet', href='/assets/scss/style.css')
		link(href='/assets/css/lib/vector-map/jqvmap.min.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800', rel='stylesheet', type='text/css')
		// <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
	body
		// Left Panel
		aside#left-panel.left-panel
			nav.navbar.navbar-expand-sm.navbar-default
				.navbar-header
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-menu', aria-controls='main-menu', aria-expanded='false', aria-label='Toggle navigation')
						i.fa.fa-bars
					a.navbar-brand(href='./') IrrigationSystem
					a.navbar-brand.hidden(href='./') IS
				#main-menu.main-menu.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href='/page1')
								i.menu-icon.fa.fa-dashboard
								| page1
						h3.menu-title Configurações
						// /.menu-title
						li.menu-item-has-children.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								i.menu-icon.fa.fa-laptop
								| Configurações
							ul.sub-menu.children.dropdown-menu
								li
									i.fa.fa-puzzle-piece
									a(href='/page2') page2
				// /.navbar-collapse
		// /#left-panel
		// Right Panel
		#right-panel.right-panel
			// Header
			header#header.header
				.header-menu
					.col-sm-7
						a#menuToggle.menutoggle.pull-left
							i.fa.fa.fa-tasks
						.header-left
							h1
								| Irrigation System
								h1
			// Header
			.content.mt-3
				.col-sm-12
					if(state)
						.alert.alert-success(role='alert')
							| Sistema de irrigação ligado!
					else
						.alert.alert-danger(role='alert')
							| Sistema de irrigação desligado!
				.col-xl-6
					canvas#phChart
				.col-xl-6
					canvas#umidadeChart
				.col-xl-6
					canvas#chuvaChart
				// /.col
				.col-sm-12
					button.btn.btn-outline-primary.btn-lg.btn-block(type='button', onclick="location.href='/page1/on';") Irrigar agora
					button.btn.btn-outline-danger.btn-lg.btn-block(type='button', onclick="location.href='/page1/off';") Parar de irrigar
				// /.col
			// .content
		// /#right-panel
		// Right Panel
		script(src='/assets/js/vendor/jquery-2.1.4.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
		script(src='/assets/js/plugins.js')
		script(src='/assets/js/main.js')
		script(src='/assets/js/lib/chart-js/Chart.bundle.js')
		script(src='/assets/js/dashboard.js')
		script(src='/assets/js/widgets.js')
		script(src='/assets/js/lib/vector-map/jquery.vmap.js')
		script(src='/assets/js/lib/vector-map/jquery.vmap.min.js')
		script(src='/assets/js/lib/vector-map/jquery.vmap.sampledata.js')
		script(src='/assets/js/lib/vector-map/country/jquery.vmap.world.js')
		script.
			( function ( $ ) {
			"use strict";
			jQuery( '#vmap' ).vectorMap( {
			map: 'world_en',
			backgroundColor: null,
			color: '#ffffff',
			hoverOpacity: 0.7,
			selectedColor: '#1de9b6',
			enableZoom: true,
			showTooltip: true,
			values: sample_data,
			scaleColors: [ '#1de9b6', '#03a9f5' ],
			normalizeFunction: 'polynomial'
			} );
			} )( jQuery );
		// Chart js
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='/assets/js/lib/chart-js/Chart.bundle.js')
		script(src='/assets/js/lib/chart-js/chartjs-init.js')
		script(type='text/javascript', src='/js/phChart.js')
		script(type='text/javascript', src='/js/umidadeChart.js')
		script(type='text/javascript', src='/js/chuvaChart.js')
// https://cdnjs.com/libraries/Chart.js
// http://www.chartjs.org/docs/latest/
